{% extends '_base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_style %}
<style>
    .content-body p {
        margin-bottom: 8px;
    }

    .content-body ul {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 8px;
    }

    .content-body a {
        color: rgb(60, 164, 243);
        text-decoration: underline;
    }
</style>
{% endblock extra_style %}


{% block body %}
<div class="container  max-w-full md:max-w-6xl mx-auto py-5 ">
    <section>
        <div class="grid grid-cols-6">
            <section id="content" class=" min-h-full col-span-6 md:col-span-4  md:px-4">
                <article id="page-content">
                    {% image page.show_image width-1000 as show_image %}
                    <img src="{{show_image.url}}" class="bg-white max-h-96 md:rounded-md w-full mb-3 object-cover" />
                    <!-- PROJECT TITLE -->
                    <div class="container px-3">
                        <h1 class="text-3xl md:text-4xl font-bold mb-2 py-0">{{page.title}}</h1>
                        <div id="meta-data" class="mb-5">

                            <ul class="text-sm flex space-x-3">
                                <li class="tooltip tooltip-bottom" data-tip="publish date"><span><i
                                            class="fa-solid fa-calendar"></i></span>
                                    <span>{{page.first_published_at|date}}</span>
                                </li>
                                <li class="tooltip tooltip-bottom" data-tip="tags">
                                    <span><i class="fa-solid fa-tag"></i></span>
                                    <span>
                                        {% include 'project/_partail/tag.html' %}
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- PROJECT BIO -->
                    <div class="project-bio  bg-gray-200 px-4 py-2 border-none cursor-pointer md:hidden"
                        onclick="toggle_bio(this);">
                        <div class="project-body">
                            <div class="project-bio-title flex items-center">
                                <h2 class="text-xl ">Project bio</h2>
                                <div class="icon-area ml-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-plus text-xs w-5 h-5" width="44" height="44"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <line x1="12" y1="5" x2="12" y2="19" />
                                        <line x1="5" y1="12" x2="19" y2="12" />
                                    </svg>
                                </div>
                            </div>
                            <div class="project-bio-content pl-1 pt-2 hidden">
                                {% include 'project/_partail/bio.html' %}
                            </div>
                        </div>

                    </div>
                    <div class="content-body px-4">
                        {{page.content}}
                    </div>
                </article>
            </section>
            <section class=" col-span-6 md:col-span-2 ">
                <div class="devider"></div>
                <div class="bg-white w-100 p-4 mb-5 rounded-md hidden md:block">
                    {% include 'project/_partail/bio.html' %}
                </div>

                <div class=" w-100 py-4  mb-5 rounded-md">
                    <h2 class="text-xl font-bold pl-2 mb-2">Other projects</h2>
                    {% for project in related_projects %}
                    {% image project.specific.show_image width-150 as tmp_photo %}
                    <a href="{% pageurl project %}"
                        class="card card-side    bg-base-100 shadow-xl  top-0 hover:-top-1 transition-all duration-150 rounded-none mb-3">
                        <figure><img class=" h-full object-cover w-32 " src="{{tmp_photo.url}}" alt="Shoes"
                                style="object-fit: cover;" /></figure>
                        <div class="card-body py-2 px-3 space-y-0 gap-1">
                            <h2 class="card-title py-0 mb-0">
                                {{project.title}}
                            </h2>
                            <p class="text-sm">{{project.short_description}}</p>
                            <div class="card-actions justify-start">
                                {% with page.frameworks.first as framework %}
                                {% if framework %}
                                <div class="badge badge-outline  bg-sky-400  border-sky-400 text-white">{{framework}}
                                </div>
                                {% else %}
                                <span class="mb-4"></span>
                                {% endif %}
                                {% endwith %}
                                {% with page.languages.first as language %}
                                    {% if language %}
                                    <a href="#"
                                    class="badge bg-purple-700 border-purple-700 hover:bg-purple-900 text-white ">{{language}}</a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    
                </div>

            </section>
        </div>
    </section>
</div>
{% endblock body %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/vendor/viewer.min.js' %}"></script>

<script>
    const viewer = new Viewer(document.getElementById('page-content'), {
    });
</script>


{% comment %}
<script>
    const icon_container_name = "icon-area";
    const project_bio_body_name = "project-bio-content";

    const open_bio_icon = `<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus w-5 h-5" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <line x1="12" y1="5" x2="12" y2="19" />
  <line x1="5" y1="12" x2="19" y2="12" />
</svg>`

    const close_bio_icon = `
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus w-5 h-5" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <line x1="5" y1="12" x2="19" y2="12" />
</svg>`

    function toggle_bio(elem) {
        var icon_container = elem.getElementsByClassName(icon_container_name)[0];
        var project_body_elem = elem.getElementsByClassName(project_bio_body_name)[0];
        if (project_body_elem && icon_container) {
            if (project_body_elem.classList.contains('hidden')) {
                project_body_elem.classList.remove('hidden')
                icon_container.innerHTML = close_bio_icon;
            } else {
                project_body_elem.classList.add('hidden')
                icon_container.innerHTML = open_bio_icon;

            }
        }
    }
</script> {% endcomment %}


{% endblock extra_js %}